{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro example(params) %}

{%- set nunjucksHtml -%}

```js
{{ getNunjucksCode(params.component) }}
```
{% endset %}

{%- set outputHtml %}<iframe class="app-example__iframe" data-module="app-example-frame" src="/examples/{{ params.component }}"></iframe><p class="app-example__link govuk-body-s"><a href="/examples/{{ params.component }}" class="govuk-link" target="_blank">Open this example in a new tab</a></p>{%- endset %}

{{ govukTabs({
  items: [
    {
      classes: "govuk-!-padding-bottom-0",
      label: "Preview",
      id: "output",
      panel: {
        html: outputHtml,
        attributes: {
          style: "padding: 1px;"
        }
      }
    },
    {
      label: "Nunjucks",
      id: "nunjucks",
      panel: {
        html: nunjucksHtml
      }
    }
  ]}) }}
{% endmacro %}
