{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% macro example(params) %}

{%- set nunjucksHtml -%}

```js
{{ getNunjucksCode(params.component) }}
```
{% endset %}

{%- set outputHtml %}<iframe style="width: 100%; display: block; max-width: 100%; border: 0; background: white; height: 300px;" src="/examples/{{ params.component }}"></iframe><p class="govuk-body-s" style="border-top: 1px solid #b1b4b6; padding: 10px 20px;"><a href="/examples/{{ params.component }}" class="govuk-link" target="_blank">Open this example in a new tab</a></p>{%- endset %}

{{ govukTabs({
  items: [
    {
      classes: "govuk-!-padding-bottom-0",
      label: "Preview",
      id: "output",
      panel: {
        html: outputHtml,
        attributes: {
          style: "padding: 1px;"
        }
      }
    },
    {
      label: "Nunjucks",
      id: "nunjucks",
      panel: {
        html: nunjucksHtml
      }
    }
  ]}) }}
{% endmacro %}
