.app-example__iframe {
  background-color: govuk-colour("white");
  border: 0;
  display: block;
  height: 300px;
  max-width: 100%;
  width: 100%;
}

.app-example__link {
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(2) govuk-spacing(4);
}
