{% extends "govuk/template.njk" %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}

{% block head %}
  <link rel="stylesheet" href="/assets/example.css">
{% endblock %}

{% block skipLink %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/iframeResizer.contentWindow.js"></script>
  <script src="/assets/x-govuk/all.js"></script>
  <script>
    window.GOVUKPrototypeComponents.initAll()
  </script>
{% endblock %}

{% block footer %}{% endblock %}
