{% extends "layouts/base.njk" %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}

{% block header %}{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}

{% block footer %}{% endblock %}
