{% extends "layouts/base.njk" %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}

{% block head %}
  {{ super() }}
  <style>
    .govuk-template { background-color: transparent; }
  </style>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
  {{ content }}
{% endblock %}

{% block scripts %}
  <script src="{{ '/assets/iframeResizer.contentWindow.js' | url }}"></script>
  <script src="{{ '/assets/x-govuk/all.js' | url }}"></script>
  <script>
    window.GOVUKPrototypeComponents.initAll()
  </script>
{% endblock %}

{% block footer %}{% endblock %}
