{% extends "layouts/sub-navigation.njk" %}

{% block scripts %}
  <script src="/assets/iframeResizer.min.js"></script>
  <script>
    iFrameResize({}, `[data-module="app-example-frame"]`)
  </script>
{% endblock %}
