{% extends "layouts/sub-navigation.njk" %}

{% block scripts %}
  <script src="{{ '/assets/iframeResizer.js' | url }}"></script>
  <script>
    iFrameResize({ log: true }, `[data-module="app-example-frame"]`)
  </script>
{% endblock %}
