---
eleventyExcludeFromCollections: true
layout: example-full-width.njk
title: Masthead example
---
{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{{ xGovukMasthead({
  breadcrumbs: {
    items: [{
      href: "#",
      text: "Home"
    }, {
      href: "#",
      text: "Education and learning"
    }]
  },
  title: {
    text: "Apprenticeships, 14 to 19 education and training for work"
  },
  description: {
    text: "Includes finding a course, finding an apprenticeship, information for employers"
  }
}) }}