---
eleventyExcludeFromCollections: true
layout: example-full-width.njk
title: Masthead example below service navigation
---
{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  classes: "govuk-header--full-width-border"
}) }}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{{ govukServiceNavigation({
  classes: "govuk-service-navigation--inverse",
  navigation: [{
    text: "Home",
    href: "#",
    active: true
  }, {
    text: "Support",
    href: "#"
  }, {
    text: "Features",
    href: "#"
  }, {
    text: "Pricing",
    href: "#"
  }, {
    text: "Contact us",
    href: "#"
  }]
}) }}

{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{{ xGovukMasthead({
  classes: "x-govuk-masthead--large",
  title: {
    text: "Design your service using GOV.UK styles, components and patterns"
  },
  description: {
    text: "Use this design system to make your service consistent with GOV.UK. Learn from the research and experience of other service teams and avoid repeating work that’s already been done."
  },
  startButton: {
    href: "#"
  }
}) }}