---
eleventyExcludeFromCollections: true
layout: example-full-width.njk
title: Primary navigation example below header
---
<style>
  .app-header--full-width-border {
    border-bottom: 10px solid #1f70b8;
  }
</style>

{% from "govuk/components/header/macro.njk" import govukHeader %}
{{ govukHeader({
  classes: "app-header--full-width-border"
}) }}

{% from "x-govuk/components/primary-navigation/macro.njk" import xGovukPrimaryNavigation %}
{{ xGovukPrimaryNavigation({
  visuallyHiddenTitle: "Navigation",
  items: [{
    text: "Home",
    href: "#",
    current: true
  }, {
    text: "Support",
    href: "#"
  }, {
    text: "Features",
    href: "#"
  }, {
    text: "Pricing",
    href: "#"
  }, {
    text: "Contact us",
    href: "#"
  }]
}) }}