---
title: Primary navigation
layout: example.njk
eleventyExcludeFromCollections: true
---
{% from "x-govuk/components/primary-navigation/macro.njk" import xGovukPrimaryNavigation %}

{{ xGovukPrimaryNavigation({
  visuallyHiddenTitle: "Navigation",
  items: [{
    text: "About this project",
    href: "#"
  }, {
    text: "Contact us",
    href: "#"
  }]
}) }}
