---
eleventyExcludeFromCollections: true
layout: example.njk
title: Sub navigation example
---
{% from "x-govuk/components/sub-navigation/macro.njk" import xGovukSubNavigation %}
{{ xGovukSubNavigation({
  items: [{
    text: "About this project",
    href: "/about"
  }, {
    text: "Contact us",
    href: "/contact",
    current: true,
    parent: true,
    children: [{
      text: "By email",
      href: "/contact/email"
    }, {
      text: "By telephone",
      href: "/contact/telephone"
    }]
  }]
}) }}