.app-example__frame {
  background: govuk-colour("white");
  border: 0;
  border-right: 1px solid $govuk-border-colour;
  display: block;
  padding: govuk-spacing(4);
  max-width: calc(100% - govuk-spacing(4) * 2);
  resize: both;
  width: 100%;
}

.app-example__new-window {
  @include govuk-font($size: 16);
}

.app-example__tabs {
  // stylelint-disable selector-max-id
  .govuk-tabs__panel[id$="-preview"] {
    background: govuk-colour("light-grey");
    padding: 0;
  }

  .x-govuk-code {
    margin: 0;
  }
}

.app-example__toolbar {
  background: $govuk-body-background-colour;
  border-top: 1px solid $govuk-border-colour;
  padding: govuk-spacing(2);
}
