@use "pkg:govuk-frontend/dist/govuk" as *;

.app-example__frame {
  background: govuk-colour("white");
  border: 0;
  border-right: 1px solid govuk-functional-colour(border);
  display: block;
  max-width: calc(100% - govuk-spacing(4) * 2);
  padding: govuk-spacing(4);
  resize: both;
  width: 100%;
}

.app-example__new-window {
  @include govuk-font($size: 16);
}

.app-example__tabs {
  .govuk-tabs__panel[id$="-preview"] {
    background: govuk-colour("black", $variant: "tint-95");
    padding: 0;
  }

  .x-govuk-code {
    margin: 0;
  }
}

// stylelint-disable declaration-no-important
.app-example__toolbar {
  background: govuk-functional-colour(body-background);
  border-top: 1px solid govuk-functional-colour(border);
  max-width: initial !important;
  padding: govuk-spacing(2);
}
