{%- from "govuk/components/tabs/macro.njk" import govukTabs -%}

{%- set examplePath = "/examples/" + params.example -%}

<div class="govuk-tabs app-example__tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#{{ params.example }}-preview">
        Preview
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#{{ params.example }}-html">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#{{ params.example }}-nunjucks">
        Nunjucks
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="{{ params.example }}-preview">
    <iframe class="app-example__frame" data-module="app-example-frame" src="{{ examplePath }}"></iframe>
    <p class="app-example__toolbar">
      <a class="app-example__new-window" href="{{ examplePath }}" target="_blank">Open this example in a new tab</a>
    </p>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="{{ params.example }}-html">
    {{ getHtmlCode(params.example) }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="{{ params.example }}-nunjucks">
    {{ getNunjucksCode(params.example) }}
  </div>
</div>