@use "node_modules/govuk-frontend/dist/govuk" as *;

@include govuk-exports("govuk-prototype-components/component/masthead") {
  .x-govuk-masthead {
    @include govuk-responsive-padding(4, "bottom");
    background-color: govuk-functional-colour(surface-background);
    padding-top: 0.1px; // Prevent margin collapse

    .govuk-phase-banner {
      border-bottom-color: govuk-functional-colour(surface-border);
    }

    .govuk-tag {
      background-color: govuk-functional-colour(surface-border);
      color: govuk-functional-colour(text);
    }

    &.x-govuk-masthead--inverse {
      background-color: govuk-functional-colour(brand);
      color: govuk-colour("white");

      .govuk-phase-banner__content {
        color: govuk-colour("white");
      }

      .govuk-phase-banner__content a {
        @include govuk-link-style-inverse;
      }

      .govuk-phase-banner .govuk-tag {
        background-color: govuk-colour("white");
        color: govuk-functional-colour(brand);
      }
    }
  }

  .x-govuk-masthead__title {
    @include govuk-font($size: 48, $weight: "bold");
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-responsive-margin(6, "top");
  }

  .x-govuk-masthead__description {
    @include govuk-font($size: 24);
    @include govuk-responsive-margin(6, "bottom");

    .x-govuk-masthead--inverse & {
      color: govuk-colour("white");

      a {
        @include govuk-link-style-inverse;
      }
    }
  }

  .x-govuk-masthead__image {
    @include govuk-responsive-padding(6, "top");

    img {
      max-width: 100%;
    }
  }

  .x-govuk-masthead__image--hide-on-mobile {
    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }
}
