@use "node_modules/govuk-frontend/dist/govuk" as *;

$_background-colour: govuk-tint($govuk-brand-colour, 80%);
$_background-colour-inverse: $govuk-brand-colour;
$_border-colour: govuk-tint($govuk-brand-colour, 50%);
$_text-colour: $govuk-text-colour;
$_text-colour-inverse: govuk-colour("white");

@include govuk-exports("govuk-prototype-components/component/masthead") {
  .x-govuk-masthead {
    @include govuk-responsive-padding(4, "bottom");
    background-color: $_background-colour;
    padding-top: 0.1px; // Prevent margin collapse

    .govuk-phase-banner {
      border-bottom-color: $_border-colour;
    }

    .govuk-tag {
      background-color: $_border-colour;
      color: $_text-colour;
    }

    &.x-govuk-masthead--inverse {
      background-color: $_background-colour-inverse;
      color: $_text-colour-inverse;

      .govuk-phase-banner__content {
        color: $_text-colour-inverse;
      }

      .govuk-phase-banner__content a {
        @include govuk-link-style-inverse;
      }

      .govuk-phase-banner .govuk-tag {
        background-color: $_text-colour-inverse;
        color: $_background-colour-inverse;
      }
    }
  }

  .x-govuk-masthead__title {
    @include govuk-font($size: 48, $weight: "bold");
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-responsive-margin(6, "top");
  }

  .x-govuk-masthead__description {
    @include govuk-font($size: 24);
    @include govuk-responsive-margin(6, "bottom");

    .x-govuk-masthead--inverse & {
      color: $_text-colour-inverse;

      a {
        @include govuk-link-style-inverse;
      }
    }
  }

  .x-govuk-masthead__image {
    @include govuk-responsive-padding(6, "top");

    img {
      max-width: 100%;
    }
  }

  .x-govuk-masthead__image--hide-on-mobile {
    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }
}
